.Stats {
  .Upload {
    display: flex;
    align-self: flex-start;
    padding: 2%;

    > text {
      margin-right: 2rem;
    }

    > input {
      width: 12rem;
    }
  }

  .Charts {
    &_top {
      display: flex;
      flex-direction: row;
      padding: 2%;
      width: 45%;
    }

    &_bottom {
      padding: 2%;
      width: 65%;

      .chartjs-render-monitor {
        padding-left: 15%;
      }
    }
  }
}
