div {
  .Stats {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h3:first-child {
      margin-bottom: 1px;
    }

    > h3:nth-child(2) {
      margin-bottom: 5px;
    }

    > p:nth-child(3) {
      margin-top: 0px;
    }

    > span {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }

    &-chart {
      margin-bottom: 3rem !important;
      width: 40vw;

      &.hideable {
        position: relative;

        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          backdrop-filter: blur(6px);

          > button {
            background: rgba(255, 255, 255, 0.6);

            &:hover {
              background: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }

    #successful-logins {
      text-align: center;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      border: 3px solid #ddd;
      width: 100%;
    }

    #successful-logins td,
    #successful-logins th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #successful-logins tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #successful-logins tr:hover {
      background-color: #ddd;
    }

    #successful-logins th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: rgba(95, 158, 160, 1);
      color: white;
    }
  }

  > input {
    display: none;
  }

  button {
    background: rgba(95, 158, 160, 0.5);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 12px;
    transition: 0.2s ease-in-out;
    outline: none;
    width: 20rem;

    &:hover {
      background: rgba(95, 158, 160, 0.6);
    }
  }
}
